<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2026-06-18T08:20:32Z</date>
	<key>WorkspacePath</key>
	<string>/Users/hangsyusang/Opensources/alt-tab-macos/alt-tab-macos.xcworkspace</string>
</dict>
</plist>
